
@import url('https://fonts.googleapis.com/css?family=Muli|Fjalla+One|Bree+Serif');

.grid-container { /* Sobrescrevendo valor padrão do framework */
    max-width: 95rem;
}

.header
{
    height: 35em;
    background: url('../Images/mountain.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 35em;
}

#top-header #header-logo h1
{
    font-size: 38pt;
    margin-top: 1em;
    text-align: center;
    color: white;
    text-shadow: 1px 4px black;
    font-family: 'Bree Serif';
}

#top-header #small-menu{ background-color: rgb(50,50,50); height: 7em;}

#top-header #small-menu li a{ color: white; font-family: 'Bree Serif';}

#top-header #small-menu ul li:hover{ background-color: white; }

#top-header #small-menu ul li:hover a{ color: black; }

.bottom-header
{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.bottom-header h1
{
    font-size: 22pt;
    color: white;
    text-shadow: 1px 2px black;
    font-family: 'Fjalla One';
}

.bottom-header p
{
    font-size: 90%;
    color: white;
    font-family: Muli;

}

.bottom-header a, .articles a
{
    font-size: 13pt;
    color: white;
    background-color: black;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 2px;
    padding-top: 2px;
    box-shadow: 0px 1px 3px black;
}

.bottom-header a:hover, .articles a:hover
{
    background-color: #2D2D2D;
}

#banner div ul .list-slides
{
    width: 20em;
}

.article-content
{
    height: 66em;
}

.article-content .article1
{
    width: 100%;
    color: black;
}

.article-content .article2
{
    width: 100%;
    background-color: #990082;
}

.articles
{
    padding-top: 2em;
    padding-left: 2.5%; padding-right: 2.5%;
    text-align: center;
}

.articles h2
{
    font-size: 18pt;
    font-family: 'Fjalla One';
    text-shadow: 1px 2px rgba(0,0,0,0.8);
}

.articles p
{
    font-size: 80%;
    font-family: Muli;
    width: 100%;
    
}

.article2
{
    padding: 2em;
}

.article2 p
{
    color: white;
    width: 17em;
    font-size: 85%;
    font-family: Muli;
}

.article2 div img
{
    width: 230px;
    height: 230px;
}

footer .contact-div h1{ font-size: 16pt; font-family: 'Fjalla One'; }
footer .contact-div{
    margin-top: 20px;
}
footer .contact-div #div-icons .c-icon{ width: 25px; height: 25px; margin-left: 35px; cursor: pointer; }
footer .contact-div span{ margin-left: 40%; }

@media screen and (min-width: 25em)
{
    #top-header #header-menu ul{ margin-left: 20%; }
    .articles{ padding-left: 2.5%; padding-right: 2.5%; }
    .article2 #div-img{ padding-left: 40%; }

    footer .contact-div h1{ font-size: 18pt; }
    footer .contact-div #div-icons .c-icon{ width: 30px; height: 30px; margin-left: 65px; }
    footer .contact-div span{ margin-left: 45%; }

}

@media screen and (min-width: 37em)
{
    #top-header #header-menu ul{ margin-left: 25%; }
    .article2 #div-img{ padding-left: 50%; }
    footer .contact-div h1{ font-size: 20pt; }
    footer .contact-div #div-icons .c-icon{ margin-left: 85px; }
    footer .contact-div span{ margin-left: 50%; }
}

/* Medium only */
@media screen and (min-width: 40em)
{
    #top-header #header-logo h1
    {
        font-size: 35pt;
        margin-top: 1em;
        text-align: left;
        padding-left: 2em;
    }

    #top-header #header-menu
    {
        padding-top: 3.5em;
        padding-left: 1em;
    }

    #top-header #header-menu li a
    {
        margin-left: 10px;
        font-size: 130%;
        margin-right: 10px;
        color: white;
        text-shadow: 1px 2px black;
        font-family: 'Bree Serif';
    }

    #top-header #header-menu ul li:hover{ box-shadow: 1px 2px black; }

    .bottom-header
    {
        padding-left: 12em;
        padding-right: 0;
    }

    .bottom-header h1
    {
        font-size: 22pt;
    }
    
    .bottom-header p
    {
        font-size: 14pt;
    }
    
    .bottom-header a, .articles a
    {
        font-size: 13pt;
        color: white;
        background-color: black;
        padding-left: 17px;
        padding-right: 17px;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    #banner div ul .list-slides
    {
        width: 40em;
    }

    .article-content
    {
        height: 45em;
    }

    .articles
    {
        padding-left: 1em;
        padding-top: 1em;
    }

    .articles h2
    {
        font-size: 16pt;
    }
    
    .articles p
    {
        font-size: 12pt;
        width: 100%;
    }

    .article2 p
    {
        color: white;
        margin-top: 2em;
        width: 25em;
        font-size: 15pt;
    }

    .article2 #div-img{ padding-left: 0; }

    .article2 div img
    {
        width: 234px;
        height: 234px;
    }

    footer .contact-div{ margin-top: 30px; }
    footer .contact-div h1{ font-size: 25pt; }
    footer .contact-div #div-icons .c-icon{ width: 40px; height: 40px; margin-left: 145px; }
    footer .contact-div span{ margin-left: 50%; }
}


/* Large and up */
@media screen and (min-width: 64em)
{
    #top-header #header-logo h1
    {
        font-size: 34pt;
        padding-left: 2em;
    }

    #top-header #top-header #header-menu
    {
        padding-left: 5em;
    }

    #top-header #header-menu li
    { 
        margin-left: 10px;
        margin-right: 10px;
    }

    #top-header #header-menu li a
    {
        font-size: 18pt;
    }
    
    .bottom-header
    {
        padding-left: 18em;
    }
    
    .bottom-header h1
    {
        font-size: 25pt;
    }
    
    .bottom-header p
    {
        font-size: 16pt;
    }
    
    .bottom-header a, .articles a
    {
        font-size: 13pt;
        color: white;
        background-color: black;
        padding-left: 17px;
        padding-right: 17px;
        padding-bottom: 2px;
        padding-top: 2px;
    }

    #banner div ul .list-slides
    {
        width: 40em;
    }

    .article-content
    {
        height: 40em;
    }

    .articles
    {
        padding-left: 2em;
        padding-top: 2em;
    }

    .articles h2
    {
        font-size: 18pt;
    }
    
    .articles p
    {
        font-size: 14pt;
        width: 100%;
    }

    .article2 p
    {
        color: white;
        margin-top: 4em;
        width: 30em;
        font-size: 15pt;
    }

    .article2 div img
    {
        width: 334px;
        height: 334px;
    }

    footer .contact-div h1{ font-size: 25pt; }
    footer .contact-div #div-icons .c-icon{ width: 40px; height: 40px; margin-left: 240px; margin-bottom: 20px; }
    footer .contact-div span{ margin-left: 50%;}
}